[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym-mtsim = {editable = true, path = "."}
jupyterlab = "*"
stable-baselines3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
